body {
  background: #f8e8a6;
  text-align: center;
}

h1 {
  text-align: center;
}

.croissant-photo {
  border-radius: 10px;
  display: block;
  margin: 30px auto;
  max-width: 100%;
}

footer a {
  color: green;
  margin: 0 10px;
}
